@import "tailwindcss";

:root {
  --primary: #112135;
  --secondary: #C65A1E;
  --gold: #BFA25A;
  --bg-dark: #0B0E11;
}

body {
  background: white;
  color: var(--primary);
  overflow-x: hidden;
  font-family: var(--font-open-sans), sans-serif;
}

.recharts-cartesian-grid-horizontal line:last-child {
  display: none;
}

@layer components {
  .main-input {
    @apply py-2 px-4 bg-white rounded-md outline-none text-[var(--primary)] text-xl;
  }

  .main-button {
    @apply uppercase py-2 px-6 font-semibold border-2 border-(--gold) cursor-pointer transition-all hover:bg-(--gold) hover:text-[var(--primary)]
  }
}