@import "tailwindcss";

:root {
  --primary: #112135;
  --secondary: #C65A1E;
  --gold: #BFA25A;
  --bg-dark: #0B0E11;
}

body {
  background: white;
  color: var(--primary);
  overflow-x: hidden;
  font-family: var(--font-open-sans), sans-serif;
}

.recharts-cartesian-grid-horizontal line:last-child {
  display: none;
}